<article>
    <h2>
        <a href="{{ path('blog_post', {slug: post.slug}) }}">
            {{ post.title }}
        </a>
    </h2>

    <p>
        <span><i class="fa fa-calendar"></i> {{ post.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
        <span><i class="fa fa-user"></i> {{ post.author.fullName }}</span>
    </p>

     {{ include('blog/_post_tags.html.twig') }}

    <p>{{ post.summary }}</p>

           <a href="{{ path('blog_post', {slug: post.slug}) }}">
            Leer más</a>

   
</article>