{% extends 'base.html.twig' %}

{% block body_id 'blog_post_show' %}

{% block main %}
    <h1>{{ post.title }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
    </p>

    {{ post.content|markdown_to_html|sanitize_html }}

    {{ include('blog/_post_tags.html.twig') }}

    <form>
        <textarea name="comentario" rows="4" class="form-control mb-2" placeholder="Añadir un comentario..."></textarea>
        <button type="button" class="btn btn-primary">Enviar</button>
    </form>

    <h3>
        <i class="fa fa-comments" aria-hidden="true"></i> {{ 'post.num_comments'|trans({ 'count': post.comments|length }) }}
    </h3>

    {% for comment in post.comments %}
        <div class="d-flex justify-content-between align-items-center">
                    <i class="fa-solid fa-angle-left"></i>
                    <div>
                        <div class="d-flex align-items-center mb-2">
                            <img src="img/usuario.webp" class="rounded-circle me-2" alt="" style="width: 40px; height: 40px;">
                            <div>
                                <p class="mb-0">>{{ comment.author.fullName }}</p>
                                <p class="text-muted mb-0">{{ 'post.commented_on'|trans }}</p>
                            </div>
                        </div>
                        <p>
                            {{ comment.content|markdown_to_html|sanitize_html }}
                        </p>
                        <div class="d-flex align-items-center">
                            <i class="fa-solid fa-reply me-1"></i>
                            <p class="mb-0">Responder</p>
                        </div>
                    </div>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
    {% else %}
        <div class="post-comment">
            <p>{{ 'post.no_comments'|trans }}</p>
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {% if is_granted('edit', post) %}
        <div class="section">
            <a class="btn btn-lg btn-block btn-success" href="{{ path('admin_post_edit', {id: post.id}) }}">
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_post'|trans }}
            </a>
        </div>
    {% endif %}

    {# the parent() function includes the contents defined by the parent template
      ('base.html.twig') for this block ('sidebar'). This is a very convenient way
      to share common contents in different templates #}
    {{ parent() }}

    {{ include('blog/_rss.html.twig') }}
{% endblock %}
